/* -------------Form ------------- */
form {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* -----------Label Styling------- */
form label {
  display: block;
  /font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  margin-top: 15px;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
}

form input[type="text"]:focus,
form textarea:focus {
  border-color: #0077b6;
  outline: none;
}

form textarea {
  height: 100px;
  resize: vertical;
}

/* Button Styling */
form button {
  background-color: #0077b6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: #005f87;
}

/* -------------media queres for Smaller Screens------------- */
@media (max-width: 600px) {
  form {
    padding: 15px;
  }

  form button {
    font-size: 1rem;
    padding: 10px;
  }
}
